---
import Button from '../components/Button.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="psgc-js-docs/favicon.ico" />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center bg-blue-100">
			<Button>Test</Button>
			<a href="markdown-page" class="p-4 underline">Test.</a>
		</div>
	</body>
</html>
