---
import Button from '../components/Button.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PSGC-JS Documentation</title>
		<meta name="description" content="A collection of PSGC Data that is ported to Javascript">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="PSGC-JS Documentation">
		<meta property="og:type" content="">
		<meta property="og:url" content="">
		<meta property="og:image" content="">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">

		<meta name="theme-color" content="#F3722C">
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center bg-blue-100">
			<Button>Coming Soon</Button>
		</div>
	</body>
</html>
